/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  /* No Lato font */
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.clear { display:block; clear:both; }

#slack.container {
  padding-bottom: 25px;
}

.row { margin: 15px 0; }

#gallery {
  width: 660px;
  margin: 100px auto;
}
  #gallery a {
    text-decoration: none;
  }
  #gallery .item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    float: left;
    border: 5px solid #333;
    margin: 5px;
  }
  #gallery .item a { 
      overflow: hidden;
  }

  #gallery .item a img {
    height: 100%; 
    align-self: center;
  }

.lightbox {
  /** Hide the lightbox */
  display: none;
  
  /** Apply basic lightbox styling */
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color:#333333;
}
  .lightbox:target {
    /** Show lightbox when it is target */
    display: block;
    outline: none;
  }

  .lightbox .box {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width: 500px;
    margin: 2% auto;
    padding: 10px 20px 10px 20px;
    background-color: #FFF;
    box-shadow: 0px 1px 26px -3px #777777; 
  }

  .lightbox .title {
    margin: 0;
    padding: 0 0 10px 0px;
    font-size: 22px;
  }

  .lightbox .content {
    display: block;
    position: relative;
  }
  

  .lightbox .content .desc {
    z-index: 99;
    bottom: 0;
    position: absolute;
    padding: 10px;
    margin: 0 0 4px 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    font-size: 17px;
    opacity: 0;
    transition: opacity ease-in-out 0.5s;
  } 
  
  .lightbox .content:hover .desc  {
    opacity: 1;
  }

  .lightbox .next,
  .lightbox .prev,
  .lightbox .close {
    display: block;
    text-decoration: none;
    font-size: 22px;
    color: #858585;
  }

  .prev {
    float: left;
  }

  .next, .close {
    float: right;
  }
  
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 17px 0;
  background-color: #3C4B5B;
  color: #fff;
}

.footer a { color: #fff; text-decoration: underline; }
  .footer a:link { color: #fff; }
  .footer a:active { color: #fff; }
  .footer a:hover { color: #fff; text-decoration: none; }
